<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.tute.schoolproject.mapper.family.RelationshipMapper">
    <resultMap id="BaseResultMap" type="cn.edu.tute.schoolproject.entity.Relationship">
        <id column="id" property="id" />
        <result column="UserId" property="userId" />
        <result column="ReminderId" property="reminderId" />
    </resultMap>

    <sql id="Base_Column_List">
        id, UserId, ReminderId
    </sql>

    <insert id="insert" parameterType="cn.edu.tute.schoolproject.entity.Relationship">
        insert into Relationship (UserId, ReminderId)
        values (#{userId}, #{reminderId})
    </insert>

    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from Relationship where id = #{id}
    </delete>

    <update id="update" parameterType="cn.edu.tute.schoolproject.entity.Relationship">
        update Relationship
        set UserId = #{userId},
            ReminderId = #{reminderId}
        where id = #{id}
    </update>

    <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from Relationship
        where id = #{id}
    </select>

    <select id="selectByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from Relationship
        where UserId = #{userId}
    </select>

    <select id="selectByReminderId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from Relationship
        where ReminderId = #{reminderId}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from Relationship
    </select>
</mapper>